<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fancy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../img/icono.png" rel="shortcut icon" type="image/x-icon" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">FANTASY  <small>  Eventos  </small></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li class="dropdown" ><a href="#" class="dropdown-toggle" data-toggle="dropdown">Organizacion de Eventos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         <li><a href="#">Equipo y mobiliario para eventos<i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a href="#">Audio,video e iluminacion<i class="fa fa-android"></i></a></li>
                    <li><a href="#">Musica y entretenimiento<i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a href="#">Actividades e Integracion <i class="fa fa-car" aria-hidden="true"></i></a></li>
                    </ul>
                    </li>
                    <li  class="dropdown" ><a href="#" class="dropdown-toggle" data-toggle="dropdown" >Fiestas tematicas<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a href="#">Equipo y mobiliario para eventos<i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a href="#">Audio,video e iluminacion<i class="fa fa-android"></i></a></li>
                    <li><a href="#">Musica y entretenimiento<i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a href="#">Actividades e Integracion <i class="fa fa-car" aria-hidden="true"></i></a></li>
                    </ul>
                    </li>
                    <li><a href="#">Organizacion de Bodas</a></li>
                    </ul>
                     <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contactanos </a></li>
                    </ul>
                    <ul>
                        <button class="btn btn-danger navbar-btn">Ingresar</button>
                    </ul>
            </div>
        </nav>
        <div class="btn-group">
                    <ul class="dropdown-menu">
                         <li><a href="#">Equipo y mobiliario para eventos<i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a href="#">Audio,video e iluminacion<i class="fa fa-android"></i></a></li>
                    <li><a href="#">Musica y entretenimiento<i class="fa fa-car" aria-hidden="true"></i></a></li>
                    <li><a href="#">Actividades e Integracion <i class="fa fa-car" aria-hidden="true"></i></a></li>
                    </ul>
    </div>
    
      <div class="jumbotron">
           <h1>FANTASY Eventos </h1> 
           <p> Esta es la empresa organizadora de eventos donde tus suenos se hacen realidad , el unico limite que tienes es el de tu imaginacion.
               Contamos con el mejor equipo especializado para hacer de tu fiestas unos de los dias mas 
               inolvidables y de ensueno que te puedas imaginar.
           </p>
        </div>
    <!--   <img src="../img/DEC2.jpg" alt="eventos" class="img-responsive ">  -->
       <div class="alert alert-success  alert-dismissable">
           <a href="#" class="close" data-dismiss="alert" aria-label="close">este es un link</a>
       </div>
    <!--
       <div class="well well-sm text-center"><a href="#">Pulsa aqui para ver las opciones </a></div>
       </div>  
        <div class=" well  text-center"><a href="#">Pulsa aqui para ver las opciones </a></div>
       </div>  
        <div class="well well-lg text-center"><a href="#">Pulsa aqui para ver las opciones </a></div>
       </div>  
       <div class="alert alert-success text-center"><p><strong> Success!</strong>   This alert box indicates a successful or positive action.</p></div>
        <div class="alert alert-info text-center"><p><strong> Info!</strong> This alert box indicates a neutral informative change or action.</p></div>
         <div class="alert alert-warning text-center"><p><strong> Warning!</strong> This alert box indicates a warning that might need attention.</p></div>
          <div class="alert alert-danger text-center"><p><strong> Danger! </strong>This alert box indicates a dangerous or potentially negative action.</p></div>
      -->
        <div class="alert alert-success alert-dismissable fade in"> <!-- --> 
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong>Indicates a successful or positive action.
        </div>
         <div class="alert alert-info alert-dismissable fade in ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong>Indicates a successful or positive action.
        </div>                                                                     <!-- las clases fade in le dan un efecto de desvanecimiento al cerrar la alerta -->
         <div class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong>Indicates a successful or positive action.
        </div>
         <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger!</strong>Indicates a successful or positive action.
     </div>
     <button type="button" class=" btn">  Basic  </button>
     <button type="button" class="btn btn-default">Default</button>
     <button type="button" class="btn btn-primary">Primary</button>
     <button type="button" class="btn btn-success"> Success </button>
     <button type="button" class="btn  btn-info ">Info</button>
     <button type="button" class="btn btn-warning">Warning</button>
     <button type="button" class="btn btn-danger">Danger</button>
     <button type="button" class="btn btn btn-link">Link</button> <br>

     <a href="#" class="btn btn-info" role="button">Link Button</a> <!--se puede aplicar la clase btn a un link -->
     <button type="button" class="btn btn-info">Button </button>
     <input type="button" class="btn btn-info" value="Input Button" >
     <input type="submit" class="btn btn-info" value="submit Button">
     
     <button type="button" class="btn btn-primary btn-lg">Large</button> <!-- ****los btn-lg,md,ms,xs nos sirven para el tamano de los botones -->
      <button type="button" class="btn btn-primary btn-md">Medium</button>
       <button type="button" class="btn btn-primary btn-sm">small</button> 
    <button type="button" class="btn btn-primary btn-xs">Xsmall</button> <br>
      
        <!-- ************************************************-->
    
       <h2><button type="button" class="btn btn-primary btn-block "> Button 1</button>  <!--btn-block abarca toda la pantalla pero un solo boton-->
       <button type="button" class="btn  btn-block "> Button 2</button> 
        
         <!-- **************** boton activo y desactivado********************************-->
         <button type="button" class="btn btn-primary active  ">Active Primary </button>
           <button type="button" class="btn btn-primary disabled  ">Disabled Primary </button>
          <!--grupos de botones-->
        <div class="btn-group"> 
            <button type="button" class="btn btn-success">Apple</button>
            <button type="button" class="btn btn-success">Samsung</button>
            <button type="button" class="btn btn-success">Sony</button>
        </div> <br>
        
         <div class="btn-group btn-group-lg"> <!--con las btn-group se puede aplicar el mismo tamano a varios botones-->
            <button type="button" class="btn btn-info">grupo azul</button>
            <button type="button" class="btn btn-info">Samsung</button>
            <button type="button" class="btn btn-info">Sony</button>
        </div>
        <div class="btn-group-vertical"> 
            <button type="button" class="btn btn-primary"> andy</button>
            <button type="button" class="btn btn-primary">la</button>
            <button type="button" class="btn btn-primary">loquilla</button>
        </div>
     <!-- justificados..... abarcan toda la pantalla los botones ... se distribuyen en la grilla-->
     <div class="btn-group btn-group-justified"> <!--para enlaces "a" en div nomas le ponemos el justified 
     y listo ... a diferencia de los botones que necesitan de un div con btn-group en cada boton-->
     <!-- link a -->
         <a href="#" class="btn btn-danger">I </a>
          <a href="#" class="btn btn-danger">am</a>
           <a href="#" class="btn btn-danger">fantastic </a>
            <a href="#" class="btn btn-danger">obviously</a>
     </div>
     <!--button se utiliza un div para cada boton -- > 
     <div class="btn-group btn-group-justified">
       <div class="btn-group"><button type="button" class="btn btn-primary ">aceptar</button></div>
       <div class="btn-group">  <button type="button" class="btn btn-primary">salir</button></div>
       <div class="btn-group">  <button type="button" class="btn btn-primary">ingresar</button></div>
        <div class="btn-group"> <button type="button" class="btn btn-primary">download</button></div>
     </div>
    <!--Menus desplegables-->
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >Cocteles <span class="caret" ></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Tablet</a></li>
            <li><a href="#">Smartphone</a></li>
        </ul>
    </div>
    <!--Glyphicon... es una clase de iconos -->
   <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p> <!-- Glyphicon en un parrafo-->
   <p>Envelope icon as a link: <a href="#"> <span class="glyphicon glyphicon-envelope"></span></a></p> <!-- Glyphicon en un link-->
   <p>Search icon:<span class="glyphicon glyphicon-search"></span></p>
   <p>Search icon on a button: <button type="button" class="btn"><span class="glyphicon glyphicon-search"></span>Search</button></p> <!-- Glyphicon en un boton-->
    <p>Print icon on :<span class="glyphicon glyphicon-print"></span></p>
    <p>Print icon on a style button: <a href="#" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-print"></span>Imprimir</a></p>
    
    <!--Badges .. se utiliza para los comentarios y enlaces.. e indicarnos la cantidad de los mismo-->
    <a href="#">New <span class="badge">5</span></a><br>
    <a href="#">Comment <span class="badge">10</span></a><br>
    <a href="#">Updates <span class="badge">34</span></a><br>
   <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button><br>
     <!--Labels .. etiquetas-->

      <span class="label label-default">Default Label</span>
<span class="label label-primary">Primary Label</span>
<span class="label label-success">Success Label</span>
<span class="label label-info">Info Label</span>
<span class="label label-warning">Warning Label</span>
<span class="label label-danger">Danger Label</span> <br><br>
     
     <!--Progress Bar... barra de progreso--> <!---->
     <div class="progress"> <!--barra sola-->
         <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
         aria-valuemax="100"  style="width: 70%">
          <span class="sr-only">70 % complete</span>
         </div>
     </div>
 <div class="progress"><!--se quita el span con clase .sr-only para que se vea el 70 % o lo que se escriba-->
         <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
         aria-valuemax="100"  style="width: 70%">
          70%
         </div>
     </div>
     <!--Barras de colores  -->
      <div class="progress">
         <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
         aria-valuemax="100"  style="width: 40%"> 40% complete</div>
     </div>
     <div class="progress">
         <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0"
         aria-valuemax="100"  style="width: 50%"> 50% complete</div>
     </div>
     <div class="progress">
         <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0"
         aria-valuemax="100"  style="width: 60%"> 60% complete</div>
     </div>
     <div class="progress">
         <div class=" progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0"
         aria-valuemax="100"  style="width: 70%"> 70% complete</div>
     </div>
  <!-- Striped... Barras de colores con rayas-->
     <div class="progress">
         <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
         aria-valuenow="40%" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40% Cargando..
         </div>
          </div>
           <div class="progress">
         <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
         aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50% Cargando..
         </div>
          </div>
           <div class="progress">
         <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
         aria-valuenow="60%" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60% Cargando..
         </div>
          </div>
           <div class="progress">
         <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
         aria-valuenow="80%" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80% Cargando..
         </div>
          </div>
       <!--Animated Progress Bar...Barras animadas!!-->
        <div class="progress">
         <div class="progress-bar  progress-bar-striped active" role="progressbar"
         aria-valuenow="40%" aria-valuemin="0" aria-valuemax="100" style="width: 40%">40% Cargando..
         </div>
          </div>

          <!--Stacked Progress Bars...Barras apiladas-->
          <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: 40%">
                  Free Space
              </div>
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 20%">
                  Warning
              </div>
              <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 10%">
                  Danger
              </div>
          </div>
          <!--Pagination-->
          <ul class="pagination ">
              <li class="active"><a href="#" >1</a></li>
              <li><a href="#" >2</a></li>
              <li><a href="#" >3</a></li>
              <li><a href="#" >4</a></li>
              <li class="disabled"><a href="#" >5</a></li>                                      
          </ul>

           <ul class="pagination pagination-lg ">
              <li class="active"><a href="#" >1</a></li>
              <li><a href="#" >2</a></li>
              <li><a href="#" >3</a></li>
              <li><a href="#" >4</a></li>
              <li class="disabled"><a href="#" >5</a></li>                                      
          </ul>
          <ul class="breadcrumb text-center">
              <li> <a href="#">homea</a></li>
              <li><a href="#">private</a></li>
              <li><a href="#">pictures</a></li>
              <li><a href="# ">vacation</a></li>
          </ul>
         <!--Pager-->
        <ul class="pager">
            <li><a href="#">anterior</a></li>
            <li><a href="#">Siguiente</a></li>
        </ul>
        <!--Align Buttons... alinear botones-->
        <ul class="pager">
            <li class="previous"><a href="#">previous</a></li>
            <li class="next"><a href="#">next</a></li>
        </ul>

        <!--Basic List Groups-->
        <ul class="list-group">
            <li class="list-group-item">first item</li>
            <li class="list-group-item">second item</li>
            <li class="list-group-item">third</li>
        </ul>

        <ul class="list-group">    
            <li class="list-group-item">New <span class="badge">2</span></li>
            <li class="list-group-item">delete <span class="badge">8</span></li>
            <li class="list-group-item">warning <span class="badge">9</span></li>
        </ul>

        <div class="list-group">
            <a href="#" class="list-group-item active">Andy</a>
            <a href="#" class="list-group-item">Kikito</a>
            <a href="#" class="list-group-item disabled">Blanqui</a>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success">Andy</a>
            <a href="#" class="list-group-item list-group-item-info">Kikito</a>
            <a href="#" class="list-group-item  list-group-item-danger">Blanqui</a>
        </div>
         <div class="list-group">
            <a href="#" class="list-group-item active">Andy</a>
            <a href="#" class="list-group-item-heading">Primera list</a>
            <a href="#" class="list-group-item text">que texto</a>
        </div>
         <div class="list-group">
             <a href="#" class="list-group-item active" >
              <h4 class="list-group-item-heading"> first list heading</h4>
              <p class="list-group-item-text"> jjjjjjjjj</p>
             </a>
             <a href="#" class="list-group-item " >
              <h4 class="list-group-item-heading"> first list heading</h4>
              <p class="list-group-item-text"> jajaja</p>
             </a>
             <a href="#" class="list-group-item " >
              <h4 class="list-group-item-heading"> first list heading</h4>
              <p class="list-group-item-text"> ooonaoo</p>
             </a>
         </div>
         <div class="progress">
             <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
             aria-valuemax="100" style="width: 30%">30% complete</div>
         </div>

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0"
    aria-valuemax="100" style="width: 10%" > 10% completed</div>
</div>
</div>
</body>
<div class="progress">
<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0"
aria-valuemax="100" style="width: 20%">20% completed
</div>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped " role="progressbar" aria-valuenow="10" aria-valuemin="0"
aria-valuemax="100" style="width: 10%">10% completed
</div>
<div class="progress-bar progress-bar-danger progress-bar-striped " role="progressbar" aria-valuenow="30" aria-valuemin="0"
aria-valuemax="100" style="width: 30%">30% completed
</div>
<div class="progress-bar progress-bar-success progress-bar-striped " role="progressbar" aria-valuenow="60" aria-valuemin="0"
aria-valuemax="100" style="width: 60%">60% completed
</div>
    </div>
<ul class="pagination">
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="disabled"><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>

<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>

<ul class="pager">
  <li class="previous" ><a href="#">Previous       </a></li>
  <li class=" previous" ><a href="#">Next</a></li>
</ul>
<div class="list-group"> 
    <a href="#" class="list-group-item active"> lista1</a>
    <a href="#" class="list-group-item list-group-item-danger"> lista2</a>
    <a href="#" class="list-group-item "> lista3</a>
    <a href="#" class="list-group-item disabled"> lista4</a>
</div>

  <div><p>holoooooooooooooo</p></div>


<div class="dropdown"> <!-- boton desplegable-- >
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
 <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</div>


<script src="../js/eventoScript.js"></script>
</body>
</html>