<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fantasy2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../img/icono.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="../css/eventoStyle.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
       <div class="panel panel-default">
           <div>Panel heading</div>
           <div class="panel-body">Panel content</div>
       </div>
<div class="panel panel-default">
    <div class="panel-body">Panel content</div>
    <div class="panel-footer">panel footer</div>
</div>
<!--Panel Group-->
  <div class="panel-group">
  <div class="panel panel-default">
          <div class="panel-body">Panel content</div>
          <div class="panel panel-default">
          <div class="panel-body">Panel content</div>
          </div>
  </div>
  </div>
   
   <!-- Panel with contextual classes-->

   <div class="panel-group">
       <div class="panel panel-default">
           <div class="panel-heading">Panel default class</div>
           <div class="panel-body"> Panel content</div>
       </div>
   </div>
   <div class="panel panel-primary">
       <div class="panel-heading"> Panel with panel-primary class</div>
       <div class="panel-body">Panel content</div>
   </div>
   <div class="panel panel-success">
       <div class="panel-heading ">Encabezado</div>
       <div class="panel-body">Contenido o cuerpo</div>
   </div>
   <div class="panel panel-info">
       <div class="panel-heading">tiulo</div>
       <div class="panel-body">desarrollo</div>
   </div>
  <div class="panel panel-warning">
      <div class="panel-heading">Bebidas</div>
      <div class="panel-body">coca</div> 
      <div class="panel-body">ina</div>
  </div>
  <div class="panel panel-danger">
   <div class="panel-heading">Adventencias</div>
   <div class="panel-body">Complete todos los campos</div>
  </div>










</div>   
</body>
</html>